@import './base.css';

#app {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

nav {
    elevation: below;
    box-shadow: 0 2px 4px #c2c2c2;
    justify-content: flex-end;
}

.navbar-light .navbar-nav .nav-link {
    color: #FF0000;
    border-radius: inherit;
    margin: auto;
}

.svg-row {
    order: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
    margin-top: 16px;
}


@media (hover: hover) {
    button:hover {
        background-color: rgba(110, 10, 10, 0.25);
    }
}

@media (min-width: 1024px) {
    body {
        display: flex;
        background: white;
        font-family: 'Poppins', sans-serif;
    }
}
