section{
    margin-top: 10px;
}
header{
    background: black;
}
.row{
}

.rounded{
    width: 170px;
    height: 140px;
    margin-top: 10px;
}
.socios{
    width: 100px;
    height: 100px;
    border-radius: 105px;
    margin-top: 80px;
}
.info_2{
    margin-top: 80px;
    padding-left: 20px;
    width: 50%;
}
.foto_equipe_user{
    width: 100px;
    height: 100px;
    margin-top: 50px;
}
.jumbotron{
    background-color: black !important;
}
.col-md-6{
    margin-top: 10px;
}
.carousel-inner img {
    width: 100%;
    height: 100%;
  }
.col-md-3{
    margin-top: 10px;
    background-color: brown !important;
}

.titulo{
    color: rgb(95, 95, 2);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.texto{
    color: black;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}
.texto_rodape{
    color: white !important;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}
.redes{
    width: 40px;
    height: 40px;
    margin: 10px;
}